.menuable{
    border:solid 1px black;
    background-color: blue;
    margin-bottom:  55px;
}

.context-menu {
  display: none;
  position: absolute;
  width: 220px;
  height: 220px;
  margin:0;
  padding:0;
  border: solid 1px red;
}

.context-menu--active {
  display: block;
}

circle {
  fill: rgba(0,0,0,0);
  stroke-width: 60;
}