body{
  background: #666;
}
.menuable{
    border:solid 1px black;
    background-color: blue;
    margin-bottom:  55px;
}

.pie-context-menu {
  display: none;
  position: absolute;
  margin:0;
  padding:0;
}

.pie-context-menu--active {
  display: block;
}

.pie-context-menu circle {
  pointer-events: stroke;
  stroke:rgba(238, 236, 246,1);
  
}

.pie-context-menu circle:hover{
  stroke: #555;
}

.pie-context-menu text{
  pointer-events: none;
  -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

}
.pie-context-menu text::selection {
    background: none;
}

h3::before{
  content:"beforoororo";
}